/* 섹션 공통 */
section {
    width: 100%;
    margin-bottom: 18.75rem;
}

.section__title {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 600;
    letter-spacing: -1%;
    text-align: left;
}

