.footer {
    width: 100%;
    height: 27.688rem;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 6.25rem;
    background-color: #00A695;
    border-radius: 3.125rem 3.125rem 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

/* 브랜드 로고 및 설명 */
.footer__brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__logo {
    width: 8.522rem;
    height: auto;
    margin-bottom: 1.25rem;
}

.footer__brand-text {
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.footer__brand-subtext {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 3.031rem;
    white-space: nowrap;
}


.footer__button {
    padding: 0.625rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.25rem;
    text-decoration: none;
}

.footer__icon-wrapper {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 3.031rem;
}

.footer__icon-link {
    width: 2.5rem;
    height: 2.5rem;
    height: auto;
    line-height: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.footer__icon-link:hover {
    opacity: 0.7;
}

.footer__icon {
    width: 100%;
}

.footer__copyright {
    font-size: 0.875rem;
    font-weight: 400;
}

.footer__team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1.938rem;
}

.footer__team-title {
    font-size: 2.125rem;
    font-weight: 700;

}
.footer_member-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4.375rem;
    margin-bottom: 1.25rem;
    align-items: stretch;
}

.footer__role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2.5rem;
    width: max-content;
    padding-right: 2.5rem;
    border-right: 1px solid #fff;
}

.footer__role:last-child {
    border-right: none; /* 마지막 요소의 세로선 제거 */
}

.footer__role-title {
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 2.188rem;
}

.footer__member {
    font-size: 1.125rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 2.188rem;
}

.footer__member-name {
    margin-bottom: 0.313rem;
}
