*,
*::before,
*::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 기본 스타일 설정 */
html {
    font-size: 4px;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: #F3F1F1;
}

/* 스크롤바 스타일 설정인데, 애들한테 물어보고 적용 할지 말지 결정해야 함 
// 스크롤바 전체 스타일 설정
::-webkit-scrollbar {
    width: calc(100vw * 13 / 1920);
}

// 스크롤바의 트랙 설정
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

// 스크롤바의 핸들 설정
::-webkit-scrollbar-thumb {
    height: 4%;
    background-color: #00A695;
    border-radius: calc(100vw * 50 / 1920);
}

// 스크롤바 핸들의 호버 상태 설정
::-webkit-scrollbar-thumb:hover {
    background-color: #008773;
} */



.wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 0 7.5%;
    margin: 0 auto;
    background-color: #F3F1F1;
}

/* 기본 레이아웃 설정 */
.video__content {
    flex-direction: column;
}

.video__content-wrapper {
    flex-direction: row;
}

/* 미디어 쿼리 */
@media screen and (min-width: 768px) {
    html {
        font-size: 6px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

    .video__content {
        flex-direction: row;
    }

    .video__content-wrapper {
        flex-direction: column;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}