*,
*::before,
*::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 더 단순화된 버전 */
html {
    font-size: 6px;
    scroll-behavior: smooth;
}

/* 태블릿 & 작은 데스크탑 */
@media screen and (min-width: 768px) {
    html {
        font-size: 8px;
    }
}

/* 데스크탑 */
@media screen and (min-width: 1280px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

/* 대형 디스플레이 */
@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: #F3F1F1;
    margin: 0 5%;
}

.l-content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 6.25rem;
    background-color: #F3F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}

