.background_wrapper {
    text-align: center;
}

.background_section_title {
    margin-top: 1rem;
}

.background_section_title .background_circle {
    width: .5rem;
    height: .5rem;
    background-color: #00A695;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: .5rem;
}

.background_section_title>h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #121212;
}

.background_contents_wrap {
    margin-top: 2rem;
}

.background_contents_wrap .background_title>h3 {
    margin: 0;
    font-size: 3rem;
    color: #121212;
}

.background_contents_wrap .background_title>h3 span {
    color: #00A695;
}

.background_description {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}

.background_line {
    animation: moveLine 2s linear infinite;
}


@keyframes moveLine {
    0% {
        stroke-dasharray: 10, 222;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 100, 222;
        stroke-dashoffset: -232;
        /* Adjust based on the length of the line */
    }
}

.app_introduce {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 42rem;
    background-color: #00A695;
    border-radius: 3rem;
    z-index: 2;

}

.app_question {
    margin-top: 7rem;
    width: 40rem;
    height: 4rem;
    background-color: #F6F6F6;
    display: inline-block;
    border-radius: 5rem 5rem 5rem 5rem;
}

.app_question>h2 {
    font-size: 1rem;
    line-height: 4rem;
    font-weight: 400;
}

.app_question>h2>span {
    color: #00A695;
    font-weight: 800;
}

.app_introduce_description {
    margin-top: 5rem;
}

.app_introduce_description p {
    color: #F6F6F6;
    margin-top: 5rem;
    line-height: 2rem;
    font-weight: 400;
}

.app_line {
    position: absolute;
    width: 100%;
    left: 0;
    top: 5rem;
    z-index: -1;
}