/* 디자인 가이드 섹션 */
.h-line {
    width: 100%;
    border: 0.063rem solid var(--black);
}

.typography__subtitle {
    margin-top: 9.4rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--tealGreen);
}

.typography__title {
    font-size: 6rem;
    margin-top: 1rem;
    font-weight: 600;
}

.typography__guide {
    margin-top: 5.1rem;
}

.typography__guide-font,
.typography__font {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.typography__guide-item,
.typography__font-item {
    width: 15%;
    list-style: none;
    margin-top: 2.9rem;
}

.typography__guide-item > p:first-child {
    font-size: 1.75rem;
}

.typography__guide-item p,
.typography__guide-item span {
    font-size: 1.5rem;
}

.typography__guide-item div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.typography__font-item:first-child p {
    font-size: 2.8rem;
    font-weight: 600;
}

.typography__font-item:nth-child(2) p {
    font-size: 1.8rem;
    font-weight: 600;
}

.typography__font-item:nth-child(3) p {
    font-size: 2rem;
    font-weight: 300;
}

.typography__font-item:nth-child(4) p {
    font-size: 2rem;
    font-weight: 400;
}

.brandcolor {
    margin-top: 11.5rem;
    margin-bottom: 6.5rem;
}

.brandcolor__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--tealGreen);
    margin-bottom: 2.9rem;
}

.brandcolor__color {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.brandcolor__color-item {
    width: 100%;
    list-style: none;
}

.brandcolor__color-item div {
    width: 100%;
    height: 3.5rem;
    margin-bottom: 1.7rem;
}

.icon__wrap {
    width: 4.8rem;
    height: 4.2rem;
}

.icon__rolling-wrap {
    display: flex;
    overflow: hidden;
    width: 100vw;
    margin-left: calc(-50vw + 50% - 8px);
}

.icon__rolling-list {
    display: flex;
    padding: 0;
}

.icon__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-left: 4.125rem;
}

.icon__rolling-list.original {
    animation: rolling-left1 90s linear infinite;
}

.icon__rolling-list.clone {
    animation: rolling-left2 90s linear infinite;
}

@keyframes rolling-left1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rolling-left2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}
/* 디자인 가이드 섹션 end */

/* 온보딩 섹션 */
.section-10__bg_opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50% - 8px);
    height: 100%;
    background-color: #F0F8F7;
    z-index: -1;
}

#sec-on-boarding {
    position: relative;
    z-index: 1;
    margin-bottom: 15rem;
}

.on-boarding__intro {
    font-size: 2.813rem;
    font-weight: 800;
    text-align: center;
    margin-top: 10.438rem
}

.carousel-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7.376rem;
}

.carousel-container {
    position: relative;
    width: 60%;
    height: 35rem;
    perspective: 1000px;
    display: flex;  
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.carousel-container:active {
    cursor: url('../images/source/cursor_hover.svg'), auto;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../images/source/cursor_hover.svg'), auto;
}

.phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13.5rem;
    height: 27rem;
    margin-left: -6.75rem;
    margin-top: -13.5rem;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s;
    pointer-events: none;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
}

.phone-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    overflow: hidden;
}

.phone img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}
/* 온보딩 섹션 end */